# Data Cleanup

In [14]:
import pandas as pd
import re
import datetime
# Use nltk for tokenizer and stopwords removal
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jaysu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jaysu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
df = pd.read_csv('data/surfline_news_scrape.csv')

In [13]:
df = df[['date', 'title', 'tags_text', 'p_text']]
df.head()

,date,title,tags_text,p_text
0,[],Russo Cam: A watery look into the North Shore’...,"[""CBD"",""Daniel Russo"",""InnerG"",""pipeline""]","[""Quickly access the spots you care about most..."
1,"Nov 2nd, 2020","Watch: Meet Kehu Butler, the 20-Year-Old Risin...",[],"[""Quickly access the spots you care about most..."
2,"Oct 17th, 2020","With No 2020 Olympics, How're the Surfers Feel...","[""ISA"",""Jordy Smith"",""Olympics"",""sally fitzgib...","[""Quickly access the spots you care about most..."
3,"Oct 13th, 2020",Watch Tom Carroll & Matt Grainger Break Down T...,[],"[""Quickly access the spots you care about most..."
4,"Jan 18th, 2021",A Powerful South and SSE Groundswell Is About ...,[],"[""Quickly access the spots you care about most..."

In [23]:
test_date = df['date'][1]
print('Datetime string example:')
print(df['date'][1])

Datetime string example:
Nov 2nd, 2020

In [42]:
date_array = df['date']
date_array

0                 []
1      Nov 2nd, 2020
2     Oct 17th, 2020
3     Oct 13th, 2020
4     Jan 18th, 2021
           ...
80    Jan 15th, 2021
81    Jan 15th, 2021
82    Jan 17th, 2021
83    Jan 18th, 2021
84    Jan 15th, 2021
Name: date, Length: 85, dtype: object

In [45]:
# with open('new_file', 'w') as f_out, open('my_file') as f_in:
#     for line in f_in:
#         new_str = ','.join(line.split(',')[1:])
#         f_out.write(new_str)
import re
# test_date.split(',')[:-1]
characters_to_remove = ['st', 'nd', 'rd', 'th']
dates = []
for item in date_array:
    for string in characters_to_remove:
        pattern = '[' + string +']'
        new = re.sub(pattern,"", item)
        dates.append(new)

    if item

In [82]:
from dateutil.parser import parse

dates = []
for item in date_array:
    try:
        date = str(parse(item))
        date2 = datetime.datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
        date3 = date2.strftime('%Y-%m-%d')
        dates.append(date3)
        # print(date2.date())
    except:
        dates.append('n/a')

In [83]:
dates

['n/a',
 '2020-11-02',
 '2020-10-17',
 '2020-10-13',
 '2021-01-18',
 '2021-01-15',
 '2021-01-13',
 '2021-01-11',
 '2021-01-19',
 '2021-01-18',
 'n/a',
 '2021-01-15',
 'n/a',
 'n/a',
 'n/a',
 'n/a',
 '2018-02-20',
 '2018-02-19',
 '2018-02-17',
 '2018-02-08',
 '2021-01-13',
 '2020-12-31',
 'n/a',
 'n/a',
 '2020-12-31',
 '2020-12-21',
 '2020-12-22',
 '2020-12-16',
 'n/a',
 'n/a',
 'n/a',
 'n/a',
 '2020-11-06',
 '2020-09-21',
 '2020-08-13',
 '2020-08-11',
 '2019-11-23',
 '2019-11-07',
 '2019-10-31',
 '2019-09-12',
 '2019-03-08',
 '2019-01-04',
 '2018-10-11',
 '2018-09-12',
 '2020-09-08',
 '2017-06-15',
 '2019-09-01',
 '2021-01-04',
 '2020-10-01',
 '2020-09-26',
 'n/a',
 '2019-07-23',
 '2020-08-24',
 '2018-07-22',
 '2018-06-30',
 '2018-06-29',
 '2019-07-09',
 '2019-04-11',
 '2019-04-22',
 '2019-08-23',
 '2021-01-04',
 '2020-01-29',
 '2021-01-13',
 '2020-09-08',
 '2019-09-01',
 '2020-12-29',
 '2019-04-02',
 'n/a',
 '2020-12-01',
 '2021-01-18',
 '2021-01-18',
 '2021-01-12',
 '2021-01-06',
 '2021-01-19',
 '2021-01-18',
 '2021-01-18',
 '2021-01-18',
 'n/a',
 '2020-01-29',
 '2021-01-15',
 '2021-01-15',
 '2021-01-15',
 '2021-01-17',
 '2021-01-18',
 '2021-01-15']

In [80]:
obj = datetime.datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
obj.strftime('%Y-%m-%d')

'2021-01-15'