In [55]:
# Import dependencies and libraries
import pandas as pd 
import numpy as np
# Use nltk for tokenizer and stopwords removal
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jaysu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jaysu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df = pd.read_csv('data/word_count.csv')
df.head()

,Unnamed: 0,dates,tokenized_title,tokenized_copy,tags_text,string_titles,string_copy,string_tags,word_count,wordcount_list
0,0,NaN,"['Russo', 'Cam', 'A', 'watery', 'look', 'North...","['On', 'clear', 'winter', 'day', 'balmy', 'coa...","[""CBD"",""Daniel Russo"",""InnerG"",""pipeline""]",Russo Cam A watery look North Shore secret soc...,On clear winter day balmy coastline Oahu North...,CBD Daniel Russo InnerG pipeline,197,"{'clear': 1, 'winter': 1, 'day': 1, 'balmy': 1..."
1,1,2020-11-02,"['Watch', 'Meet', 'Kehu', 'Butler', '20', 'Yea...","['If', 'know', 'Kehu', 'Butler', 'yet', 'bette...",[],Watch Meet Kehu Butler 20 Year Old Rising Surf...,If know Kehu Butler yet better way get acquain...,NaN,105,"{'know': 1, 'kehu': 1, 'butler': 1, 'yet': 1, ..."
2,2,2020-10-17,"['With', 'No', '2020', 'Olympics', 'How', 'Sur...","['Two', 'historic', 'things', 'Surfing', 'inau...","[""ISA"",""Jordy Smith"",""Olympics"",""sally fitzgib...",With No 2020 Olympics How Surfers Feeling,Two historic things Surfing inaugural debut Ol...,ISA Jordy Smith Olympics sally fitzgibbons,280,"{'historic': 1, 'things': 1, 'surfing': 7, 'in..."
3,3,2020-10-13,"['Watch', 'Tom', 'Carroll', 'Matt', 'Grainger'...","['We', 'got', 'kinds', 'reef', 'around', 'play...",[],Watch Tom Carroll Matt Grainger Break Down Tow...,We got kinds reef around play When two time Wo...,NaN,148,"{'got': 1, 'kinds': 1, 'reef': 1, 'around': 2,..."
4,4,2021-01-18,"['A', 'Powerful', 'South', 'SSE', 'Groundswell...","['The', 'month', 'January', 'exactly', 'renown...",[],A Powerful South SSE Groundswell Is About To R...,The month January exactly renowned big south s...,NaN,514,"{'month': 2, 'january': 2, 'exactly': 1, 'reno..."

## Word Sentiment Ratings

In [5]:
hedo_df = pd.read_csv('data/word_sentiment_rating.csv')
hedo_df.head()

   Unnamed: 0  happs  rank  stdDev            word
0           0    5.1  6648    0.99       according
1           1    5.1  6649    1.58  administrative
2           2    5.1  6650    1.25          albert
3           3    5.1  6651    1.31          alleen
4           4    5.1  6652    1.30           allen

## Tokenize Words And Remove Stopwords

In [33]:
# Tokenize each tweet, remove stopwords, and append into a list to be added to dataframe later
tokens = []
# Cache the stopword function to speed up runtime. Otherwise the loop will access the method each iteration and slow down for loop. 
cachedStopWords = stopwords.words('english')
for tweet in df['string_copy']:
    text_tokens = word_tokenize(tweet)
    token = [word for word in text_tokens if not word in cachedStopWords]
    tokens.append(token)
#     print(token)

In [56]:
# Append token list to dataframe
df['tokens2'] = tokens
df.head()

,Unnamed: 0,dates,tokenized_title,tokenized_copy,tags_text,string_titles,string_copy,string_tags,word_count,wordcount_list,tokens2,word_and_scores,scores_only,avg_scores,sum_scores
0,0,NaN,"['Russo', 'Cam', 'A', 'watery', 'look', 'North...","['On', 'clear', 'winter', 'day', 'balmy', 'coa...","[""CBD"",""Daniel Russo"",""InnerG"",""pipeline""]",Russo Cam A watery look North Shore secret soc...,On clear winter day balmy coastline Oahu North...,CBD Daniel Russo InnerG pipeline,197,"{'clear': 1, 'winter': 1, 'day': 1, 'balmy': 1...","[On, clear, winter, day, balmy, coastline, Oah...","[(On, 5.56), (clear, 6.3), (winter, 5.9), (day...","[5.56, 6.3, 5.9, 6.24, 5.52, 6.42, 5.54, 4.98,...",5.955796,935.06
1,1,2020-11-02,"['Watch', 'Meet', 'Kehu', 'Butler', '20', 'Yea...","['If', 'know', 'Kehu', 'Butler', 'yet', 'bette...",[],Watch Meet Kehu Butler 20 Year Old Rising Surf...,If know Kehu Butler yet better way get acquain...,NaN,105,"{'know': 1, 'kehu': 1, 'butler': 1, 'yet': 1, ...","[If, know, Kehu, Butler, yet, better, way, get...","[(If, 4.66), (know, 6.1), (Butler, 5.38), (yet...","[4.66, 6.1, 5.38, 4.7, 7.0, 5.24, 5.92, 6.08, ...",5.935181,492.62
2,2,2020-10-17,"['With', 'No', '2020', 'Olympics', 'How', 'Sur...","['Two', 'historic', 'things', 'Surfing', 'inau...","[""ISA"",""Jordy Smith"",""Olympics"",""sally fitzgib...",With No 2020 Olympics How Surfers Feeling,Two historic things Surfing inaugural debut Ol...,ISA Jordy Smith Olympics sally fitzgibbons,280,"{'historic': 1, 'things': 1, 'surfing': 7, 'in...","[Two, historic, things, Surfing, inaugural, de...","[(Two, 5.4), (historic, 5.92), (things, 5.76),...","[5.4, 5.92, 5.76, 6.14, 7.02, 7.02, 3.34, 5.38...",5.728482,1283.18
3,3,2020-10-13,"['Watch', 'Tom', 'Carroll', 'Matt', 'Grainger'...","['We', 'got', 'kinds', 'reef', 'around', 'play...",[],Watch Tom Carroll Matt Grainger Break Down Tow...,We got kinds reef around play When two time Wo...,NaN,148,"{'got': 1, 'kinds': 1, 'reef': 1, 'around': 2,...","[We, got, kinds, reef, around, play, When, two...","[(We, 6.38), (got, 5.6), (kinds, 5.74), (aroun...","[6.38, 5.6, 5.74, 5.62, 7.26, 4.96, 5.4, 5.74,...",5.787257,653.96
4,4,2021-01-18,"['A', 'Powerful', 'South', 'SSE', 'Groundswell...","['The', 'month', 'January', 'exactly', 'renown...",[],A Powerful South SSE Groundswell Is About To R...,The month January exactly renowned big south s...,NaN,514,"{'month': 2, 'january': 2, 'exactly': 1, 'reno...","[The, month, January, exactly, renowned, big, ...","[(The, 4.98), (month, 5.18), (January, 5.7), (...","[4.98, 5.18, 5.7, 6.0, 6.22, 6.16, 5.74, 5.38,...",5.630883,2167.89

## Find Sentiment Score of Each Word

In [57]:
# Look through the tokens list and access the value of the word with .loc()
# Append words in a tweet list, then append that list to the scores list
# Make sure to turn all words into lowercase first to match the hedo_df words
word_and_scores = []
for token in tokens:
    tweet = []
    for word in token:
        score = hedo_df.loc[hedo_df['word'] == word.lower(), 'happs']
        if score.values.size:
            tweet.append((word, score.values[0]))
            # print(word,score.values[0])
    word_and_scores.append(tweet)

In [59]:
# Inspect the list of words and scores
word_and_scores[0][0:5]

[('On', 5.56), ('clear', 6.3), ('winter', 5.9), ('day', 6.24), ('North', 5.52)]

In [44]:
# Populate only the scores of the individual words of each tweet in list of lists
scores_only = []
for token in tokens:
    tweet = []
    for word in token:
        score = hedo_df.loc[hedo_df['word'] == word.lower(), 'happs']
        if score.values.size:
            tweet.append(score.values[0])
#             print(score.values[0])
    scores_only.append(tweet)

In [61]:
# inspect
scores_only[0][0:5]

[5.56, 6.3, 5.9, 6.24, 5.52]

## Find Sum and Mean Scores

In [62]:
# how to .agg() a new colum with mean and sum? 
import statistics as st
sum_scores = [sum(x) for x in scores_only]

In [63]:
sum_scores[:5]

[935.0600000000003,
 492.62000000000006,
 1283.1799999999994,
 653.9600000000003,
 2167.8900000000026]

In [64]:
# To calculate mean you must create a function with a try/except logic for 'nan' values
def check(data):
    try:
        return st.mean(data)
    except:
        return np.nan
avg_scores = [check(x) for x in scores_only]

In [65]:
avg_scores[:5]

[5.955796178343949,
 5.935180722891566,
 5.728482142857143,
 5.7872566371681415,
 5.630883116883117]

## Append To the Dataframe

In [66]:
# Inspect the DF with the newly added columns
df['word_and_scores'] = word_and_scores
df['scores_only'] = scores_only
df['avg_scores'] = avg_scores
df['sum_scores'] = sum_scores
df.head()

,Unnamed: 0,dates,tokenized_title,tokenized_copy,tags_text,string_titles,string_copy,string_tags,word_count,wordcount_list,tokens2,word_and_scores,scores_only,avg_scores,sum_scores
0,0,NaN,"['Russo', 'Cam', 'A', 'watery', 'look', 'North...","['On', 'clear', 'winter', 'day', 'balmy', 'coa...","[""CBD"",""Daniel Russo"",""InnerG"",""pipeline""]",Russo Cam A watery look North Shore secret soc...,On clear winter day balmy coastline Oahu North...,CBD Daniel Russo InnerG pipeline,197,"{'clear': 1, 'winter': 1, 'day': 1, 'balmy': 1...","[On, clear, winter, day, balmy, coastline, Oah...","[(On, 5.56), (clear, 6.3), (winter, 5.9), (day...","[5.56, 6.3, 5.9, 6.24, 5.52, 6.42, 5.54, 4.98,...",5.955796,935.06
1,1,2020-11-02,"['Watch', 'Meet', 'Kehu', 'Butler', '20', 'Yea...","['If', 'know', 'Kehu', 'Butler', 'yet', 'bette...",[],Watch Meet Kehu Butler 20 Year Old Rising Surf...,If know Kehu Butler yet better way get acquain...,NaN,105,"{'know': 1, 'kehu': 1, 'butler': 1, 'yet': 1, ...","[If, know, Kehu, Butler, yet, better, way, get...","[(If, 4.66), (know, 6.1), (Butler, 5.38), (yet...","[4.66, 6.1, 5.38, 4.7, 7.0, 5.24, 5.92, 6.08, ...",5.935181,492.62
2,2,2020-10-17,"['With', 'No', '2020', 'Olympics', 'How', 'Sur...","['Two', 'historic', 'things', 'Surfing', 'inau...","[""ISA"",""Jordy Smith"",""Olympics"",""sally fitzgib...",With No 2020 Olympics How Surfers Feeling,Two historic things Surfing inaugural debut Ol...,ISA Jordy Smith Olympics sally fitzgibbons,280,"{'historic': 1, 'things': 1, 'surfing': 7, 'in...","[Two, historic, things, Surfing, inaugural, de...","[(Two, 5.4), (historic, 5.92), (things, 5.76),...","[5.4, 5.92, 5.76, 6.14, 7.02, 7.02, 3.34, 5.38...",5.728482,1283.18
3,3,2020-10-13,"['Watch', 'Tom', 'Carroll', 'Matt', 'Grainger'...","['We', 'got', 'kinds', 'reef', 'around', 'play...",[],Watch Tom Carroll Matt Grainger Break Down Tow...,We got kinds reef around play When two time Wo...,NaN,148,"{'got': 1, 'kinds': 1, 'reef': 1, 'around': 2,...","[We, got, kinds, reef, around, play, When, two...","[(We, 6.38), (got, 5.6), (kinds, 5.74), (aroun...","[6.38, 5.6, 5.74, 5.62, 7.26, 4.96, 5.4, 5.74,...",5.787257,653.96
4,4,2021-01-18,"['A', 'Powerful', 'South', 'SSE', 'Groundswell...","['The', 'month', 'January', 'exactly', 'renown...",[],A Powerful South SSE Groundswell Is About To R...,The month January exactly renowned big south s...,NaN,514,"{'month': 2, 'january': 2, 'exactly': 1, 'reno...","[The, month, January, exactly, renowned, big, ...","[(The, 4.98), (month, 5.18), (January, 5.7), (...","[4.98, 5.18, 5.7, 6.0, 6.22, 6.16, 5.74, 5.38,...",5.630883,2167.89

In [105]:
df.to_csv('data/nlp_sentiment.csv', index=False)

## Find Overall Average

In [110]:
total_avg_score = 5.67
print(f'Avegerage score of all words: {total_avg_score}')

Avegerage score of all words: 5.67